# Enable rewrite engine
RewriteEngine On

# Deny direct access to framework files
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.+)/$ - [L]

# Redirect requests to index.php if the file/directory doesn't exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
